# Exercise 4.2: Computing things!

In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('data/c_elegans_egg_xa.csv', comment='#')

xa_high = df.loc[df['food']=='high', 'area (sq. um)'].values
xa_low = df.loc[df['food']=='low', 'area (sq. um)'].values

In [29]:
df

     food  area (sq. um)
0    high           1683
1    high           2061
2    high           1792
3    high           1852
4    high           2091
..    ...            ...
96    low           2143
97    low           2252
98    low           2222
99    low           2121
100   low           2409

[101 rows x 2 columns]

In [31]:
def xa_to_diameter(xa):
    # Calculate the diameters using the formula A = πd^2/4 => d^2 = 4A/π => d = sqrt(4A/π)
    diameters = np.sqrt(4 * np.array(xa) / np.pi)
    return diameters

cross_sectional_areas = df['area (sq. um)'].values
diameters = xa_to_diameter(cross_sectional_areas)
print(diameters)

[46.29105911 51.22642581 47.76657057 48.5596503  51.59790585 47.61973991
 49.33998388 47.89966242 47.21697198 46.94654036 49.08125119 49.84064959
 47.9926071  46.29105911 47.69988539 48.40207395 48.15152345 49.3141717
 49.57168871 47.87307365 48.30991705 46.29105911 46.12573337 46.24978308
 46.41466697 47.87307365 48.15152345 48.95137203 45.72372833 47.18999856
 46.68817945 45.98750791 46.53794651 52.2111661  48.70364742 47.23045291
 47.06842687 46.81073869 45.97366251 49.57168871 50.8397116  48.54653847
 52.08909166 48.24398292 48.40207395 51.58556628 52.55146594 50.31103472
 53.06982074 54.57203767 50.32368681 52.24773281 53.99739399 49.44309786
 53.87936676 47.9926071  52.41804019 47.87307365 52.11352942 51.21399674
 52.44232467 50.47526453 50.8397116  51.56087828 49.84064959 55.96578669
 50.72688754 50.58864976 52.18677405 52.44232467 51.78264653 52.57568879
 51.86863366 52.67246879 49.05530287 52.67246879 50.72688754 50.07003758
 52.32078957 49.18490759 53.72554372 46.67454189 49.19784929 51.88090591
 51.85635852 54.8280819  52.07686848 51.22642581 51.96673046 48.29673743
 53.04582353 52.07686848 52.35727972 50.57606396 51.70882946 53.54750652
 52.23554675 53.54750652 53.18964437 51.96673046 55.38261517]

# Exercise 4.3: Working with two-dimensional arrays

In [32]:
A = np.array(
    [
        [6.7, 1.3, 0.6, 0.7],
        [0.1, 5.5, 0.4, 2.4],
        [1.1, 0.8, 4.5, 1.7],
        [0.0, 1.5, 3.4, 7.5],
    ]
)

b = np.array([1.1, 2.3, 3.3, 3.9])